
.bu{
    padding: 15px 32px;
    text-align: center;
   }
   .submit{
    background-color: green;
    font-size: 20px;
    text-align: center;
    margin-top: 9%;
   }
   .reject{
    background-color: red;
    font-size: 20px;
    text-align: center;
    margin-top: 9%;
 
   }