
.link{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    border: 2px solid #111;
    text-transform: uppercase;
    color: #111;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}


.btn{
    position: relative;
    z-index: 3;
}
